<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Student Form</h2>

    <form
      method="post"
      id="studentForm"
      enctype="multipart/form-data"
      novalidate
    >
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <button type="submit">Save</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      $("#id_service").change(function () {
        console.log("hai doctor");
        var url = $("#studentForm");
        var serviceId = $(this).val();
        $.ajax({
          url: "{%url 'ajax_load_doctor' %}",
          data: {
            service: serviceId,
          },
          success: function (data) {
            $("#id_doctor_name").html(data);
          },
        });
      });
    </script>

    <script>
      $("#id_category").change(function () {
        var url = $("#studentForm");
        var categoryId = $(this).val();
        $.ajax({
          url: "{%url 'ajax_load_service' %}",
          data: {
            category: categoryId,
          },
          success: function (data) {
            $("#id_service").html(data);
          },
        });
      });
    </script>
  </body>
</html>
